[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover::before {
	content: attr(data-tooltip);
	position: absolute;
	line-height: var(--lh-00);

	border-radius: var(--size-0);
	padding: var(--size-000);
	background-color: var(--color-gray-200);
	color: var(--color-gray-600);
	font-weight: bold;

	bottom: 115%;
	left: 50%;
	min-width: 3rem;
	max-width: var(--break-00);
	transform: translate(-50%, 0);

	text-align: center;
	font-size: var(--size-00);
	z-index: 100;
}

[data-tooltip]:hover::after {
	content: '';
	position: absolute;
	top: -15%;
	left: 50%;
	transform: translate(-50%, 0);
	border-width: 5px;
	border-style: solid;
	border-color: var(--color-gray-200) transparent transparent transparent;
}
