.badge[data-type='bug'],
.badge[data-status='open'] {
	background-color: var(--color-u-error);
	color: var(--color-error);
}

.badge[data-type='idea'] {
	background-color: var(--color-u-info);
	color: var(--color-info);
}

.badge[data-type='other'],
.badge[data-status='closed'] {
	background-color: var(--color-gray-300);
	color: var(--color-gray-500);
}
