// Ordered list
ol:not([role]) {
	list-style: decimal outside;
	padding-left: var(--size-2);

	> li::marker {
		font-style: italic;
		font-weight: bold;
		color: var(--color-bace);
		font-size: var(--size-1);
		font-family: var(--serif);
	}
}
