@import 'feo-config';
@import '../../node_modules/@crinkles/feo/feo.scss';

// utilities
.scale {
	transition: all 200ms ease;
}

.scale:hover {
	box-shadow: 0 0 0 var(--size-000) var(--color-gray-500);
}

.mh-full {
	min-height: 100vh;
}
